@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Assigment 07</h1>
    <p>Here is where the banking magic happens</a>.</p>
</div>
@foreach (var account in Model.Accounts)
{
    <h2>@account.Label</h2>
}